@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
.footer__outer__main__section
{
    display: flex;
    position: absolute;
    bottom:0;
    width:100%;
    background-color: #182b45;
    padding-top: 1rem;
    padding-bottom:1rem;
}

.icca__logo
{
    width: 10vw;
    margin-left: 4rem;
    color: white;
}

.developer__details
{
    position:absolute;
    right: 1rem;
    margin-top: 3rem;
    font-family: 'Roboto', sans-serif;
    color: white;
}

